dora-api-mock:
  stubs:
    - name: openapi
      path: /dora/api/openapi.yaml
      stubFile: openapi.yaml
      mediaType: application/yaml
    - name: mock-data
      path: /mock-data
      stubFile: stubs/home/mock-data.json
      mediaType: application/json
    - name: df_average_weekly
      path: /dora/api/metric
      stubFile: stubs/metrics/df/average_weekly.json
      mediaType: application/json
      parameters:
        type: df_average
    - name: df_average_monthly
      path: /dora/api/metric
      stubFile: stubs/metrics/df/average_monthly.json
      mediaType: application/json
      parameters:
        type: df_average
        aggregation: monthly
    - name: df_average_quarterly
      path: /dora/api/metric
      stubFile: stubs/metrics/df/average_quarterly.json
      mediaType: application/json
      parameters:
        type: df_average
        aggregation: quarterly

wiremock:
  server:
    port: 10666
